@model TopicViewModel

<form  asp-controller="Topics" asp-action="Create" enctype="multipart/form-data" class="col-lg-6 offset-lg-3 spinner-form">
    <div class="form-grup m-1">
        <label asp-for="Title"></label>
        <span asp-validation-for="Title" class="text-danger"></span>
        <input asp-for="Title" class="form-control inputHover" />
    </div>
    <div class="form-grup has-danger m-1">
        <label asp-for="Content"></label>
        <span asp-validation-for="Content" class="text-danger"></span>
        <textarea asp-for="Content" id="editor" class="form-control inputHover" ></textarea>
    </div>
    <div class="form-grup m-1 form-button">
        <input type="submit" class="btn btn-danger" value="Добави" />
    </div>
</form>