@model IEnumerable<TopicViewModel>


@foreach(var x in Model){
    <div class="card" style="width: 18rem;">
        <div class="card-body">
            <h5 class="card-title">@x.Title</h5>
            @*<p class="card-text">@x.Content</p>*@
            <a asp-controller="Topics" asp-action="Details" asp-route-id="@x.Id" class="btn btn-primary">Details</a>
        </div>
    </div>
}